<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="professeurs"></ion-back-button>
    </ion-buttons>
    <ion-title>Professeur N°{{professeur.id}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>Nom: <strong>{{professeur.nom}}</strong></p>
  <p>Prénom: <strong>{{professeur.prenom}}</strong></p>
  <p>Téléphone: <strong>{{professeur.telephone}}</strong></p>
  <p>Email: <strong>{{professeur.email}}</strong></p>
</ion-content>