ion-content{
 
}
ion-footer{
    // ion-button{
    //     --background:var(--ion-color-secondary);
    // }
}
.icon {
    display: flex;
    justify-content: center;
    font-size: 96px;
}
.red {
    height: 50px;
    width: 100%;
    background-color: red;
}
.blue {
    height: 50px;
    width: 100%;
    background-color: blue;
    text-decoration: underline;
}

