<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Rechercher un étudiant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="icon">
    <ion-icon name="school" color="primary"></ion-icon>
  </div>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="primary">Cycle</ion-label>
        <ion-select formControlName="cycle" interface="action-sheet">
          <ion-select-option value="D">DUT</ion-select-option>
          <ion-select-option value="L">Licence</ion-select-option>
          <ion-select-option value="M">Master</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Formation</ion-label>
        <ion-select formControlName="formation" interface="action-sheet">
          <ion-select-option value="GL">Génie Logiciel</ion-select-option>
          <ion-select-option value="L">Licence</ion-select-option>
          <ion-select-option value="M">Master</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="cycle!=='M'">
        <ion-label position="floating">Ville</ion-label>
        <ion-select formControlName="ville" interface="action-sheet">
          <ion-select-option value="Bamako">Bamako</ion-select-option>
          <ion-select-option value="Segou">Segou</ion-select-option>
          <ion-select-option value="Sikasso">Sikasso</ion-select-option>
          <ion-select-option value="Mopti">Mopti/Sevaré</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Centre</ion-label>
        <ion-select formControlName="centre" interface="action-sheet">
          <ion-select-option value="Direction">Direction</ion-select-option>
          <ion-select-option value="Sabaliboygou">Sabaliboygou</ion-select-option>
          <ion-select-option value="Kalabancoro-Adeken">Kalabancoro-Adeken</ion-select-option>
          <ion-select-option value="Missabougou">Missabougou</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nom ou prénom</ion-label>
        <ion-input formControlName="nom"></ion-input>
      </ion-item>
      <!-- <ion-item>
      <div [class.red]="myclass">
        {{dateNaiss | age}}
      </div>
    </ion-item> -->

    </ion-list>
  </form>

</ion-content>
<ion-footer>
  <ion-button expand="full" fill="solid" (click)="rechercher()">
    Rechercher
  </ion-button>
</ion-footer>