<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-label *ngIf="statut===0">Créér mon compte</ion-label>
      <ion-label *ngIf="statut===1">Se connecter</ion-label>
      <ion-label *ngIf="statut===2"> Mon profil</ion-label>

    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="statut===0">
  <div class="header">
    <div class="photo-box" (click)="addPhoto()">
      <div class="img-box">
        <img [src]="image">
      </div>
      <div class="buttons_box">
        <div class="icon_box">
          <ion-icon name="camera"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="inscform">
    <ion-list>
      <ion-item lines="none">
        <ion-label class="fieldset" color="primary">Votre profil</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input formControlName="prenom"></ion-input>
        <small class="text-danger" *ngIf="inscform.controls.prenom.touched">
          <ion-text *ngIf="inscform.controls.prenom.errors?.required" color="danger">
            Le prénom est <strong>Obligatoire</strong>
          </ion-text>
        </small>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="nom"></ion-input>
        <small class="text-danger" *ngIf="inscform.controls.nom.touched">
          <ion-text *ngIf="inscform.controls.nom.errors?.required" color="danger">
            Le nom est <strong>Obligatoire</strong>
          </ion-text>
        </small>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
        <small class="text-danger" *ngIf="inscform.controls.email.touched">
          <ion-text *ngIf="inscform.controls.email.errors?.required" color="danger">
            L'email est <strong>Obligatoire</strong>
          </ion-text>
          <ion-text *ngIf="inscform.controls.email.errors?.invalidEmail" color="danger">
            L'email est <strong>Incorrect</strong>
          </ion-text>
        </small>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
        <small class="text-danger" *ngIf="inscform.controls.password.touched">
          <ion-text *ngIf="inscform.controls.password.errors?.required" color="danger">
            Le mot de passe est <strong>Obligatoire</strong>
          </ion-text>
        </small>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="fieldset" color="primary">Votre formation</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cycle</ion-label>
        <ion-select formControlName="cycle" interface="action-sheet">
          <ion-select-option value="D">DUT</ion-select-option>
          <ion-select-option value="L">Licence</ion-select-option>
          <ion-select-option value="M">Master</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Formation</ion-label>
        <ion-select formControlName="formation" interface="action-sheet">
          <ion-select-option value="GL">Génie Logiciel</ion-select-option>
          <ion-select-option value="L">Licence</ion-select-option>
          <ion-select-option value="M">Master</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="cycle!=='M'">
        <ion-label position="floating">Ville</ion-label>
        <ion-select formControlName="ville" interface="action-sheet">
          <ion-select-option value="Bamako">Bamako</ion-select-option>
          <ion-select-option value="Segou">Segou</ion-select-option>
          <ion-select-option value="Sikasso">Sikasso</ion-select-option>
          <ion-select-option value="Mopti">Mopti/Sevaré</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Centre</ion-label>
        <ion-select formControlName="centre" interface="action-sheet">
          <ion-select-option value="Direction">Direction</ion-select-option>
          <ion-select-option value="Sabaliboygou">Sabaliboygou</ion-select-option>
          <ion-select-option value="Kalabancoro-Adeken">Kalabancoro-Adeken</ion-select-option>
          <ion-select-option value="Missabougou">Missabougou</ion-select-option>
        </ion-select>
      </ion-item>


    </ion-list>
  </form>

</ion-content>
<ion-content *ngIf="statut===1">
  <form [formGroup]="loginform">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>

<ion-content *ngIf="statut===2">
  <form [formGroup]="inscform">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input formControlName="prenom"></ion-input>
        <small class="text-danger" *ngIf="inscform.controls.prenom.touched">
          <ion-text *ngIf="inscform.controls.prenom.errors?.required" color="danger">
            Le prénom est <strong>Obligatoire</strong>
          </ion-text>
        </small>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="nom"></ion-input>
        <small class="text-danger" *ngIf="inscform.controls.nom.touched">
          <ion-text *ngIf="inscform.controls.nom.errors?.required" color="danger">
            Le nom est <strong>Obligatoire</strong>
          </ion-text>
        </small>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Cycle</ion-label>
        <ion-select formControlName="cycle" interface="action-sheet">
          <ion-select-option value="D">DUT</ion-select-option>
          <ion-select-option value="L">Licence</ion-select-option>
          <ion-select-option value="M">Master</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Formation</ion-label>
        <ion-select formControlName="formation" interface="action-sheet">
          <ion-select-option value="GL">Génie Logiciel</ion-select-option>
          <ion-select-option value="L">Licence</ion-select-option>
          <ion-select-option value="M">Master</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="cycle!=='M'">
        <ion-label position="floating">Ville</ion-label>
        <ion-select formControlName="ville" interface="action-sheet">
          <ion-select-option value="Bamako">Bamako</ion-select-option>
          <ion-select-option value="Segou">Segou</ion-select-option>
          <ion-select-option value="Sikasso">Sikasso</ion-select-option>
          <ion-select-option value="Mopti">Mopti/Sevaré</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Centre</ion-label>
        <ion-select formControlName="centre" interface="action-sheet">
          <ion-select-option value="Direction">Direction</ion-select-option>
          <ion-select-option value="Sabaliboygou">Sabaliboygou</ion-select-option>
          <ion-select-option value="Kalabancoro-Adeken">Kalabancoro-Adeken</ion-select-option>
          <ion-select-option value="Missabougou">Missabougou</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>


</ion-content>
<ion-footer>
  <ion-button *ngIf="statut===0" [disabled]="!inscform.valid" expand="full" fill="solid" (click)="saveToFB()">
    S'inscrire
  </ion-button>
  <ion-button *ngIf="statut===1" [disabled]="!loginform.valid" expand="full" fill="solid" (click)="connecter()">
    Se connecter
  </ion-button>
  <ion-button *ngIf="statut===2" expand="full" fill="solid" (click)="updateToFB()">
    Modifier mon profil
  </ion-button>
</ion-footer>