<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Liste des étudiants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let e of etudiants2">
    <ion-item lines="none" no-padding class="user" (click)="show(e)">
      <div class="div-box" slot="start">
        <img src="assets/img/user.png" (load)="loaded = false" [hidden]="loaded">
        <img [src]="e.photo" (load)="loaded = true" alt="">
      </div>
      <div class="buttons_box" slot="end">
        <ion-icon name="play-circle" color="secondary">
        </ion-icon>
      </div>

      <div>
        <div class="label">{{e.prenom | titlecase}} {{e.nom | uppercase}}</div>
        <div class="value">
          <div>TEL: {{e.telephone}}</div>

        </div>
        <div class="time"><em>{{e.email}}</em></div>
      </div>
    </ion-item>
    <ion-item lines="none" no-padding class="desc" (click)="show(e)">
      <div class="value">
        <div> {{e.cycle}},{{e.formation}}</div>
        <div>{{e.centre}}, {{e.ville}}&nbsp;</div>
        <div *ngIf="e.cours===1">Cour du <strong>Jour</strong></div>
        <div *ngIf="e.cours!==1">Cour du <strong>Soir</strong></div>
      </div>
    </ion-item>
    <ion-item lines="none" no-padding class="actions">
      <ion-grid>
        <ion-row>
          <ion-col size="3" style="text-align: center;">
            <ion-icon name="call" color="danger" (click)="call(e)"></ion-icon>
          </ion-col>
          <ion-col size="3" style="text-align: center;">
            <ion-icon name="chatbubbles" color="tertiary" (click)="show(e)"></ion-icon>
          </ion-col>
          <ion-col size="3" style="text-align: center;">
            <ion-icon name="share-social-outline" color="primary" (click)="show(e)"></ion-icon>
          </ion-col>
          <ion-col size="3" style="text-align: center;">
            <ion-icon name="location-outline" color="primary" (click)="localiser(e)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
    <!-- <ion-card-header>
      <ion-card-subtitle>Matricule : </ion-card-subtitle> 
      <ion-card-title [style.text-decoration]="linkStyle">{{e.prenom | titlecase}} {{e.nom | uppercase}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="create-outline" (click)="show(e)"></ion-icon>
      <ion-icon name="trash-outline" (click)="delete(e.id)"></ion-icon>
      <div class="div-box" slot="start">
        <img src="assets/img/user.png" (load)="loaded = false" [hidden]="loaded">
        <img [src]="e.photo" (load)="loaded = true" alt="">
      </div>
    </ion-card-content> -->


    <!-- <ion-card-content>
      <p>Téléphone :<strong>{{e.telephone}}</strong></p>
      <p>Email :<strong>{{e.email}}</strong></p>
      <p>Formation :<strong>{{e.formation}}</strong></p>
      <p *ngIf="e.cours===1">Cour :<strong>Jour</strong></p>
      <p *ngIf="e.cours!==1">Cour :<strong>Soir</strong></p>
    </ion-card-content> -->
  </ion-card>

</ion-content>